<div class="container fullheight">
  <%= render partial: "profile", locals: { user: current_user } %>
  <nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <%= link_to user_profile_posts_path(current_user) do %>
          <p class="heading">Posts</p>
          <p class="title">3,456</p>
        <% end %>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Following</p>
        <p class="title">123</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Followers</p>
        <p class="title">456K</p>
      </div>
    </div>
  </nav>
</div>
