<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <%= show_blob(user.profile.avatar, resize_to: "64x64") %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <%= link_to user_path(user), data: { turbo: false } do %>
        <p class="has-text-link has-text-weight-bold">
          <%= user.profile.name %>
          <br>
          <small>
            @<%= user.profile.username %>
          </small>
        </p>
      <% end %>
    </div>
  </div>
</article>
